{% extends 'base.html.twig' %}

{% block body %}

<h1>Delete student</h1>
<p>Are you sure?</p>

<form method='POST'>
    <button>Yes</button>
    <a href="{{ path('student_show', {'id': id}) }}">No</a>
</form>


{% endblock %}
