<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.css">
    </head>
    <body>
    {% for message in app.flashes('success') %}
        <div class="success">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    </body>
</html>
